<!--
/*============================================;
Title: Assignment 3.2;
Author: Professor Krasso ;
Date: 15 January 2020;
Modified By: Douglas Jenkins;
Description: Passing Data Routes Part 1
;===========================================*/
-->

<h4>Koji Kondo</h4>
<div class="row">
  <!-- Displays Image -->
      <div class="col-sm-3">
        <img src="./assets/Koji_Kondo.jpg"/>
      </div>
  <!-- Displays the bio of the composer -->
      <div class="col-sm-9">
          Koji Kondo is a legendary Japanese sound director and video game composer. He is most famous for having
          composed the scores to the ‘Super Mario’ and ‘The Legend of Zelda’ Series. Koji Kondo was born on August 13,
          1961 in Nagoya, Japan. At the age of five, Kondo started taking lessons in electronic organ.
          For much of his youth, he remained part of a cover band that focused on mainstream music.
          Kondo had a huge passion for LCD and Arcade Games, and when Nintendo sent him a recruitment message in
          1984 for the position of a sound programmer, he happily accepted.
      </div>
</div>

