<!--
/*============================================;
Title: Assignment 7.2;
Author: Professor Krasso ;
Date: 13 February 2020;
Modified By: Douglas Jenkins;
Description: Input Exercise 7.2 - Reactive Forms
;===========================================*/
-->

<div fxLayout="column">
  <mat-card >
    <mat-card-title>
      <div class="mistake">
        <h1>ERROR!!!</h1>
        <br>
        <h3>THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST</h3>
        <br>
        <h5>Not to worry below is a button to get you back to the home page :)</h5>
      </div>
  <!--Goes to the assets folder for the not found image-->
      <img src="./assets/not-found-image.png" />
    </mat-card-title>
    <br/>
    <mat-card-content style="text-align: center;">
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-content>
  </mat-card>
</div>
