<!--
/*============================================;
Title: Assignment 6.4;
Author: Professor Krasso ;
Date: 8 February 2020;
Modified By: Douglas Jenkins;
Description: Input Properties
;===========================================*/
-->

<div fxLayout="column">
  <mat-card class="mat-elevation-z0">
    <mat-card-title>
  <!--Goes to the assets folder for the not found image-->
      <img src="./assets/not-found-image.png" />
    </mat-card-title>
    <br/>
    <mat-card-content style="text-align: center;">
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-content>
  </mat-card>
</div>
