/*============================================;
Title: Assignment 6.2;
Author: Professor Krasso ;
Date: 7 February 2020;
Modified By: Douglas Jenkins;
Description: Input/Output Properties, Part 1
;===========================================*/

.logo {
  margin-top: 5px;
}

.main-container{
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
