
<!--Below is the created information for the bio for the about component-->
<!--
/*============================================;
Title: Assignment 6.2;
Author: Professor Krasso ;
Date: 7 February 2020;
Modified By: Douglas Jenkins;
Description: Input/Output Properties, Part 1
;===========================================*/
-->

<!-- below is information on the comic book artist jim lee-->
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/jim-lee.jpg">
      </div>
      <div>
        <em>
          Photo from Michael Stewart  on <a class="attribution-link" href="https://www.comingsoon.net/comics/news/1145872-jim-lee-clarifies-the-reshuffle-at-dc-comics" target="_blank">Coming Soon</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who is Jim Lee?</h1>
    <p>
      Jim Lee, is a world renowned comic book artist, writer, editor and publisher, is currently Chief Creative Officer of DC (DC) and Publisher for the company.
      Jim Lee was born in Seoul, South Korea in 1964 but moved with his family to St. Louis, Missouri when he was young. 
      After graduating cum laude with a BA in Psychology from Princeton University in 1986,
      he started his professional career at Marvel Comics where his work on the X-Men continues to hold the
      all-time sales record for single issue sales at an incredible 8 million copies sold in one month.
    </p>
    <em>Biography by: <a href="https://www.dccomics.com/talent/jim-lee" target="_blank" class="attribution-link">Jim Lee Bio</a></em>
  </div>
</div>
