/*============================================;
Title: Assignment 3.4;
Author: Professor Krasso ;
Date: 15 January 2020;
Modified By: Douglas Jenkins;
Description: Guarding Routes
;===========================================*/

/* Creates css for sign in container */
.signin-container{
  width: 35%;
  margin: 0 auto;
  margin-top: 10%;
}
